* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root {
    --primary-border-color: #000;
    --primary-background-color: gray;    
    --background-color-lightgray: #efefef; 
    --block-padding: 20px;   
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid var(--primary-border-color);
    padding: 2px;
    box-shadow: 0 0 30px var(--primary-background-color);
}

p {
    padding: 0;
}

main {
    padding: var(--block-padding);
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--primary-border-color);
    padding: 2px;
    box-shadow: 0 0 30px var(--primary-background-color);
    float: right;
}

aside {
    margin: 10px 20px;
    padding: var(--block-padding);
    width: 40em;
    text-align: center;
    position: relative;
    background-color: var(--background-color-lightgray);
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 230px;

}

footer {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    text-align: center;
}

/* Class Selectors */
.box {
    clear: both;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem 2rem;
    background-color: var(--background-color-lightgray);
    color: var(--primary-border-color);
}