* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root {
    --primary-border-color: #000;
    --primary-background-color: gray;    
    --background-color-lightgray: #efefef; 
    --block-padding: 20px;   
}

header, footer, .grid {
  max-width: 840px;
  margin: 0 auto;
}

h1 {
    color: darkblue;
    border-bottom: 1px solid #000;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid var(--primary-border-color);
    padding: 2px;
    box-shadow: 0 0 30px var(--primary-background-color);
}

p {
    padding: 0;
}

nav {
    background-color: darkblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
}

.grid {
    display: grid;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--primary-border-color);
    padding: 2px;
    margin: .5rem;
    box-shadow: 0 0 30px var(--primary-background-color);
    float: right;
}

main div {
    margin: 1rem;
}

main p {
    margin: .5rem;
}

aside {
    margin: 1rem;
    width: 20rem;
    padding: 1rem;
    position: relative;
    background-color: var(--background-color-lightgray);
    grid-column: 1/2;
    grid-row: 1/2;
    align-items: center;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 18px;
    left: 115px;

}

aside p {
    padding: 1rem;
    text-align: left;
}


footer {
    border-top: 1px solid #ccc;
    text-align: center;
}

/* Class Selectors */
.box {
    clear: both;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem 2rem;
    background-color: var(--background-color-lightgray);
    color: var(--primary-border-color);
}